// Fonts
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

$font-inter: "Inter", sans-serif;
$font-montserrat: "Montserrat", sans-serif;
$font-raleway: "Raleway", sans-serif;
$font-anticva: "Anticva", sans-serif;
// Fonts end

// Colors
$color-txt-black: #242020;
$color-txt-red: #c31723;
$color-txt-grey: #b8b8b8;
$color-bg-white: #fff;
// Colors end

@mixin media($value) {
    @if ($value < 0) {
        @media screen and (min-width: calc($value * (-1)) + 'px') {
            @content;
        }

    } @else {
        @media screen and (max-width: $value + 'px') {
            @content;
        }
    }
}